.formDiv{
    margin-top: 10px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; */
}

/* .formDiv> label{
  width: 20%;
} */

/* .formDiv input{
    width: 50%;
} */